<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" http-equiv="Content-Type" content="text/html" />
    <title>ういのセトリ - 動画追加</title>
</head>
<body>
<div th:insert="layout::header"></div>
<center>
    <div th:if="${param.error}">
        登録に失敗しました。
    </div>
    <div th:if="${param.success}">
        登録しました。
    </div>
    <form th:action="@{/admin/procAddMovie}" method="post">
        <div th:insert="movieFragment::movie"></div>
        <input type="submit" value="作成">
    </form>
    <br>
    <a href="/admin/">管理ページに戻る</a>
    <script th:inline="javascript">
        /*<![CDATA[*/
        var date = new Date();
        var year = date.getFullYear();
        var month = ("0"+(date.getMonth()+1)).slice(-2);
        var day = ("0"+date.getDate()).slice(-2);
        document.getElementById("date").value=year+'-'+month+'-'+day
        /*]]>*/
    </script>
</center>
</body>
</html>
