<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" http-equiv="Content-Type" content="text/html" />
    <title th:text="|${appName} - お歌追加|"></title>
</head>
<body>
    <th:block th:insert="layout::header" />
    <main>
        <center>
            <th:block th:if="${param.error}">
                登録に失敗しました。
            </th:block>
            <th:block th:if="${param.success}">
                登録しました。
            </th:block>
            <form th:action="@{/admin/procAddSong}" method="post">
                <th:block th:insert="songFragment::song" />
                <input type="submit" value="作成">
            </form>
            <br>
            <a href="/admin/">管理ページに戻る</a>
        </center>
    </main>
</body>
</html>
