<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" http-equiv="Content-Type" content="text/html" />
    <title>ういのセトリ - 管理ページ</title>
</head>
<body>
    <th:block th:insert="layout::header" />
    <main>
        <center>
            管理ページ<br>
            <a href="/admin/addMovie">動画追加</a><br>
            <a href="/admin/addSong">お歌追加</a><br>
            <br>
            <a href="/admin/movieList">動画管理</a><br>
            <a href="/admin/songList">お歌管理</a><br>
            <br>
            <a href="/admin/metaConfig">indexページmetaタグ管理</a><br>
        </center>
    </main>
</body>
</html>
