<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" http-equiv="Content-Type" content="text/html" />
        <title>ういのセトリ - 動画管理</title>
    </head>
    <body>
        <th:block th:insert="layout::header" />
        <main>
            <center>
                <th:block th:if="${param.error}">
                    削除に失敗しました。
                </th:block>
                <th:block th:if="${param.success}">
                    削除しました。
                </th:block>
                <th:block th:insert="movieListFragment::movieList(${movies})" th:with="admin=true" />
                <a href="/admin/">管理ページに戻る</a>
            </center>
        </main>
        <form th:action="@{/admin/procDelMovie}" method="post" id="deleteForm">
            <input type="hidden" name="movieId" id="deleteMovieId">
        </form>
        <script th:inline="javascript">
            /*<![CDATA[*/
            function onEditClick(movieId) {
                location.href = '/admin/editMovie/' + movieId;
            }
            function onDeleteClick(movieId, movieName) {
                var ret = confirm(movieName + 'を削除してもよろしいですか？')
                if (ret == true) {
                    var form = document.getElementById('deleteForm');
                    var deleteId = document.getElementById('deleteMovieId');
                    deleteId.setAttribute('value', movieId);
                    form.submit();
                }
            }
            /*]]>*/
        </script>
    </body>
</html>
