<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" http-equiv="Content-Type" content="text/html" />
    <title th:text="|${appName} - 動画編集|"></title>
</head>
<body>
    <th:block th:insert="layout::header" />
    <main>
        <center>
            <th:block th:if="${param.error}">
                更新に失敗しました。
            </th:block>
            <th:block th:if="${param.success}">
                更新しました。
            </th:block>
            <form th:action="@{/admin/procEditSong}" method="post">
                <input type="hidden" name="originalId" th:value="${originalId}">
                <input type="hidden" name="originalTime" th:value="${originalTime}">
                <th:block th:insert="songFragment::song" />
                <input type="submit" value="更新">
            </form>
            <br>
            <a href="/admin/">管理ページに戻る</a>
        </center>
    </main>
</body>
</html>
