<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" http-equiv="Content-Type" content="text/html" />
    <title>ういのセトリ - 動画編集</title>
</head>
<body>
<div th:insert="layout::header"></div>
<center>
    <div th:if="${param.error}">
        更新に失敗しました。
    </div>
    <div th:if="${param.success}">
        更新しました。
    </div>
    <form th:action="@{/admin/procEditSong}" method="post">
        <input type="hidden" name="originalId" th:value="${originalId}">
        <input type="hidden" name="originalTime" th:value="${originalTime}">
        <div th:insert="songFragment::song"></div>
        <input type="submit" value="更新">
    </form>
    <br>
    <a href="/admin/">管理ページに戻る</a>
</center>
</body>
</html>
