<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" http-equiv="Content-Type" content="text/html" />
        <th:block th:each="metaTag : ${metaTags}">
            <meta th:name="${metaTag.name}" th:content="${metaTag.content}" />
        </th:block>
        <title th:text="|${appName} - 動画一覧|"></title>
    </head>
    <body>
        <th:block th:insert="layout::header" />
        <main>
            <center>
                <th:block th:insert="movieListFragment::movieList(${movies})" />
            </center>
        </main>
    </body>
</html>
