<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" http-equiv="Content-Type" content="text/html" />
        <title th:text="'ういのセトリ - 動画ページ - ' + ${name}"></title>
    </head>
    <body>
        <th:block th:insert="layout::header" />
        <main>
            <center>
                <div id="player"></div>
                <br>
                <label>
                    プレーヤーサイズ
                    <input type="number" id="playerWidth" size="6" value="560" />
                    x
                    <input type="number" id="playerHeight" size="6" value="315" />
                    <button type="button" onClick="resizePlayer()">反映</button>
                </label>
                <br />
                <label th:if="!${songs.isEmpty()}">
                    <input type="checkbox" id="looping" onclick="onLoopFuncChanged()">
                    ループ再生
                </label>
                <table border="1" id="songTbl">
                    <thead>
                        <tr>
                            <th>Time</th>
                            <th>Song Name</th>
                            <th>Original Artist</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="song: ${songs}">
                            <td><a href="#" th:onclick="'jumpTo(' + ${song.time} + ');'" th:text="${song.time / 60} + ':' + ${song.time % 60}"></a></td>
                            <td th:text="${song.songName}"></td>
                            <td th:text="${song.writer}"></td>
                            <td th:text="${song.time}" style="display:none" class="time"></td>
                            <td th:text="${song.endTime}" style="display:none" class="endTime"></td>
                        </tr>
                        <tr th:if="${songs.isEmpty()}" class="noSongRow">
                            <td colspan="3">歌情報はありません。</td>
                        </tr>
                    </tbody>
                </table>
            </center>
        </main>
        <script th:inline="javascript">
            /*<![CDATA[*/
            var tag = document.createElement('script');
            tag.src = "https://www.youtube.com/player_api";
            var firstScriptTag = document.getElementsByTagName('script')[0];
            firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

            var songInfo = [];

            /* 歌情報一覧読み込み */
            var rows = document.getElementById('songTbl').rows;
            [#th:block th:if="!${songs.isEmpty()}"]
            for (var i = 1; i < rows.length; i++) {
                songInfo.push({
                    time: parseInt(rows[i].getElementsByClassName('time')[0].innerText, 10),
                    endTime: parseInt(rows[i].getElementsByClassName('endTime')[0].innerText, 10)
                });
            }
            [/th:block]

            /* プレーヤー制御 */
            var player;
            function onYouTubePlayerAPIReady() {
                player = new YT.Player('player', {
                    height: '315',
                    width: '560',
                    videoId: /*[[${id}]]*/ 'null',
                    events: {
                        'onReady': onPlayerReady,
                        'onStateChange': onPlayerStateChange
                    }
                });
            }

            function jumpTo(time) {
                player.seekTo(time, true);
                player.playVideo();

                if (document.getElementById('looping').checked) {
                    setLooping();
                }
            }

            function onPlayerReady(event) {
                [#th:block th:if="${time != null}"]
                event.target.seekTo(/*[[${time}]]*/ 0, true);
                event.target.playVideo();
                [/th:block]
            }

            const eps = 0.5;

            let seekPollingIntervalId;
            let loopTimeoutId;

            let lastPollingTime = -1;
            let startTime = -1;
            let endTime = -1;

            function stopLooping() {
                window.clearInterval(seekPollingIntervalId);
                window.clearTimeout(loopTimeoutId);
                lastPollingTime = -1;
                startTime = -1;
                endTime = -1;
            }

            function loop() {
                if (startTime != -1) {
                    jumpTo(startTime);
                    loopTimeoutId = window.setTimeout(loop, (endTime - startTime) * 1000);
                }
            }

            function setLooping() {
                stopLooping();

                let currentTime = player.getCurrentTime();

                for (i = 0; i < songInfo.length; i++) {
                    if (songInfo[i].time <= currentTime && currentTime < songInfo[i].endTime) {
                        startTime = songInfo[i].time;
                        endTime = songInfo[i].endTime;

                        loopTimeoutId = window.setTimeout(loop, (endTime - currentTime) * 1000);
                        seekPollingIntervalId = window.setInterval(checkSeek, 1000);

                        break;
                    }
                }
            }

            function checkSeek() {
                let currentTime = player.getCurrentTime();
                if (lastPollingTime != -1) {
                    if (player.getPlayerState() == YT.PlayerState.PLAYING) {
                        if (Math.abs(currentTime - lastPollingTime - 1) > eps) {
                            setLooping();
                            return;
                        }
                    }
                }
                lastPollingTime = currentTime;
            }

            function onPlayerStateChange(event) {
                if (document.getElementById('looping').checked) {
                    if (event.data == YT.PlayerState.PLAYING) {
                        setLooping();
                    } else {
                        stopLooping();
                    }
                }
            }

            function onLoopFuncChanged() {
                if (document.getElementById('looping').checked) {
                    if (player.getPlayerState() == YT.PlayerState.PLAYING) {
                        setLooping();
                    }
                } else {
                    stopLooping();
                }
            }

            function resizePlayer() {
                let width = parseInt(document.getElementById('playerWidth').value, 10) || 0;
                let height = parseInt(document.getElementById('playerHeight').value, 10) || 0;
                player.setSize(width, height);
            }
            /*]]>*/
        </script>
    </body>
</html>
