<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="movie"
        th:with="defaultId=${defaultId}?:'', defaultName=${defaultName}?:'', defaultDate=${defaultDate}?:''">
    <table>
        <tr>
            <th>
                動画ID
            </th>
            <td>
                <input type="text" name="movieId" required pattern="[0-9a-zA-Z_\-]{11}" th:value="${defaultId}">
            </td>
        </tr>
        <tr>
            <th>
                動画名
            </th>
            <td>
                <input type="text" name="movieName" required th:value="${defaultName}">
            </td>
        </tr>
        <tr>
            <th>
                投稿日/配信日
            </th>
            <td>
                <input type="date" name="date" id="date" required th:value="${defaultDate}">
            </td>
        </tr>
    </table>
</th:block>
</html>
