<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="movieList(movies)" th:with="admin=${admin}?:false">
    <table border="1">
        <thead>
        <tr>
            <th>Name</th>
            <th>Date</th>
            <th:block th:if="${admin}">
                <th>Edit</th>
                <th>Delete</th>
            </th:block>
        </tr>
        </thead>
        <tbody>
        <tr th:each="movie : ${movies}">
            <td><a th:href="'/movie/' + ${movie.movieId}" th:text="${movie.name}"></a></td>
            <td th:text="${#dates.format(movie.date, 'yyyy/MM/dd')}"></td>
            <th:block th:if="${admin}">
                <td><input type="button" value="Edit"
                           th:movieId="${movie.movieId}"
                           onclick="onEditClick(this.getAttribute('movieId'));"/>
                </td>
                <td><input type="button" value="Delete"
                           th:movieId="${movie.movieId}"
                           th:movieName="${movie.name}"
                           onclick="onDeleteClick(this.getAttribute('movieId'), this.getAttribute('movieName'));"/>
                </td>
            </th:block>
        </tr>
        </tbody>
    </table>
</th:block>
</html>
