<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" th:href="@{/css/song_app.css}">
  <title th:text="|${appName}|"></title>
</head>

<body class="songApp">
  <div id="wrapper"></div>
  <script type="module" th:src="@{/js/songapp_main.js}"></script>
</body>

</html>
