<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<header th:fragment="song"
        th:with="defaultId=${defaultId}?:'', defaultTime=${defaultTime}?:'0',
                 defaultName=${defaultName}?:'', defaultWriter=${defaultWriter}?:'',
                 defaultEndTime=${defaultEndTime}?:'0'">
    <table>
        <tr>
            <th>
                動画ID
            </th>
            <td>
                <input type="text" name="movieId" required pattern="[0-9a-zA-Z_\-]{11}" th:value="${defaultId}">
            </td>
        </tr>
        <tr>
            <th>
                再生時間
            </th>
            <td>
                <input type="number" name="time" required th:value="${defaultTime}">
            </td>
        </tr>
        <tr>
            <th>
                終了時間
            </th>
            <td>
                <input type="number" name="endTime" required th:value="${defaultEndTime}">
            </td>
        </tr>
        <tr>
            <th>
                曲名
            </th>
            <td>
                <input type="text" name="songName" required th:value="${defaultName}">
            </td>
        </tr>
        <tr>
            <th>
                アーティスト
            </th>
            <td>
                <input type="text" name="writer" required th:value="${defaultWriter}">
            </td>
        </tr>
    </table>
</header>
</html>
