<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" http-equiv="Content-Type" content="text/html" />
        <title>ういのセトリ - お歌一覧</title>
    </head>
    <body>
        <div th:insert="layout::header"></div>
        <center>
            <table border="1">
                <thead>
                <tr>
                    <th>Song Name</th>
                    <th>Original Writer/Singer</th>
                    <th>Movie Name</th>
                </tr>
                </thead>
                <tbody>
                    <tr th:each="song : ${songs}">
                        <td><a th:href="'/movie/' + ${song.movie.movieId} + '?time=' + ${song.time}" th:text="${song.songName}"></a></td>
                        <td th:text="${song.writer}"></td>
                        <td><a th:href="'/movie/' + ${song.movie.movieId}" th:text="${song.movie.name}"></a></td>
                    </tr>
                </tbody>
            </table>
        </center>
    </body>
</html>
